<div id="content">
  <h3> You are editing this content </h3>

  <%= form_for(:contents, method: "patch", url: topic_content_path(@content.topic, @content)) do |f| %>
    <%= f.text_field :resource, :value => @content.resource %>
    <%= f.submit "Submit Edits" %>
  <% end %>

</div>

<div id="link">
  <%= link_to "Return back to Programming Topics", topics_path %>
</div>
