<h3>Please contribute a new resource</h3>

<form role="form" class="form-horizontal">
  <%= form_for :contents, url: topic_contents_path do |f| %>
    <div class="form-group">
      <%= f.label :resource %>
        <div class="form-group">
          <%= f.text_field :resource %>
        </div>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-default" %>
    </div>
<% end %>
