<h3>The Turing Community Resource Center</h3>


<div class="row">
<div class="col-xs-9">

  <ul>
    <% @sorted_topics.each do |topic| %>
    <li>
      <%= link_to topic.name, topic_path(topic), class: 'btn btn-primary btn-lg  btn-block' %>
    </li>
    <% end %>
  </ul>

  <%= link_to 'Contribute New Topics', new_topic_path, class: 'btn btn-default topic' %>
</div>
</div>
