<h3>Table of contents</h3>


<div class="row">
<div class="col-xs-9">

  <ul>
    <% @sorted_topics.each do |topic| %>
    <li>
      <%= link_to topic.name, topic_path(topic), class: 'btn btn-primary btn-lg  btn-block' %>
    </li>
    <% end %>
  </ul>

  <%= link_to 'Contribute To The Site', new_topic_path %>
</div>
