<div id="content">
  <h1> <%= @topic.name %> </h1>

  <ul>
    <% @topic.contents.each do |content| %>
      <li>
        <%= content.content %> <br><br>
      </li>
    <% end %>
  </ul>

</div>

<div id="return links">
  <%= link_to 'Return To Topics Page', topics_path %>
</div>
