// $btn-primary-bg: #499965;
// $btn-primary-bg: #6faa22;
// $btn-primary-bg: #81aa22;
// $btn-primary-bg: #618907;
// $btn-primary-bg: #99b8be;
$btn-primary-bg: #303376;
// $btn-primary-bg: #7ba5ae;

@import 'bootstrap-sprockets';
@import 'bootstrap';

.turing-overflow {
  font-family: 'PT Sans', sans-serif;
  color: #5c5e5e;
  height: 50px;
}
.turing-overflow .dark {
  color: #444748;
  font-weight: bold;
  letter-spacing: .5px;
}

a {
  color: #5c5e5e;
}

.col-xs-3 {
  position: relative;
  left: 1px;
}

.btn-block {
  margin: 10px -38px;
  border-radius: 0px;
}

.btn-primary, .btn-default {
  border-radius: 0px;
}

.form-control {
  border-radius: 0;
}

img {
  width: 70%;
}

ul {
  list-style: none;
}

.topic {
  margin-top: 15px;
}

.styled-btn {
  text-decoration: none;
  color: red;
}
